body, html{
    color: black;
    background-color: #b3e9ff9d;
    width: 100%
}

html { 

/* standard root font size */
font-size: 12px;

/* gradient background */
background: -moz-linear-gradient(top, rgba(41,137,216,0) 0%, rgba(41,137,216,0.55) 31%, rgba(30,87,153,0.86) 48%, rgba(30,87,153,1) 56%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(41,137,216,0) 0%,rgba(41,137,216,0.55) 31%,rgba(30,87,153,0.86) 48%,rgba(30,87,153,1) 56%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(41,137,216,0) 0%,rgba(41,137,216,0.55) 31%,rgba(30,87,153,0.86) 48%,rgba(30,87,153,1) 56%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002989d8', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}

/* homepage */

/* space between top of page and Create Your Own Experience Card */
#grid-homepage{
    margin-top: 12%;
}

/* booking and rent section */
#book-homepage, #rent-homepage{
    background-color: rgba(255, 255, 255, 0.85);
}

/* svg holder div */
.homePage-main-logo{
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    margin-top: 70px;
    width: 90%;
    height: 20%;
}
/* svg positioning */
.homePage-main-svg{
    /* border: 3px solid black; */
    width: 100%;
    /* 50% on mobile */
    height: 100%;
}

/* Create Experience Title Font */


.paper-title-homepage{
    /* border: 1px solid green; */
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    
}

.explanation-title-homepage{
    font-size: 2.6rem;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.explanation-text-homepage{

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.7rem;
    padding: 2%;
}


/* sign up booking and renting buttons */

#book-homepage > button, #rent-homepage > button{
    font-size: 1.3rem;
    margin-left: 1%;
    color: white;
    background-color: rgba(0, 140, 255, 0.692)
}

#book-homepage, #rent-homepage{
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
    background-color: rgba(240, 248, 255, 0.808)
}


.footer{
    width: 100%;
    text-align: center;
}

.paper-section, .paper-title-homepage {
    padding-top: 12px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    z-index: 50;
}


#paper-section{
    background-color: rgba(0, 0, 0, 0.014);

}

#paper-section>ul>li{
    list-style-type: none;
    
}

#paper-section>ul{
    padding-left: 10px;
}



/* svg animation */

path, polygon {
    stroke-dasharray: 1900;
    opacity: 10;
    animation: animate 6s;
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 5000;

    }

    30% {
        opacity: 10;
        fill-opacity: 0;
        stroke-dashoffset: 1900;
        /* stroke-width: 3%; */
    }

    90% {
        opacity: 50;
        fill-opacity: 1;
        /* stroke-width: 1%; */
    }

    100% {
        opacity: 5;
        stroke-dashoffset: 0;
    }
}


@media (min-width:300px){


    html{
        font-size: 10px;
    }

}

@media (min-width:1500px){

    html{
        font-size: 14px;
    }
}


@media (min-width:3000px){

    html{
        font-size: 18px;
    }

}

