.images-description-container{
    z-index: 1000;
}

svg{
    z-index: 1;
}

.projects-background-svg{
    /* border: red solid 2px; */
    position: fixed;
}

.svg-projects-page{
    width: 200%;
    height: 100%;
    /* border: black solid 2px; */
    position: fixed;
    margin-left: -130%;
}

.projects-background-svg2{
    /* border: green solid 2px; */
    position: fixed;
}

.svg2-projects-page{
    width: 200%;
    height: 100%;
    /* border: blue solid 2px; */
    position: fixed;
}

/* svg animation */


.svg-projects-page > g > polyline {
    stroke-dasharray: 900;
    stroke-opacity: 0;
    animation: animated 8s;
}


.svg2-projects-page > g > polyline {
    stroke-dasharray: 900;
    stroke-opacity: 0;
    animation: animated 8s;
}


/* initial margin top on description card */

.projects-description-card{
    /* border: red solid 2px; */
    margin-top: 200px;
    margin-bottom: 200%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.7rem;
    padding: 2%;
}

.projects-title-svgid{
    position: fixed;
    top: 0;
    margin-left:20%;
    width: 60%;
    /* border: green solid 2px; */
}



/* #projects-dcard-mobile{
    border: red solid 2px;
    margin-top: 80px;
    margin-bottom: 200%;
} */


@keyframes animated {
    0% {
        stroke-opacity: 0;
        stroke-dashoffset: 10;

    }

    50% {
        stroke-opacity: 1;
        stroke-width: .05%;
    }

    60% {
        stroke-opacity: 0;
    }

    100% {
        
        stroke-opacity: 0;
        stroke-dashoffset: 2000;
    }
}
