.background-svg{
    position: fixed;
    width: 100%;
}

.background-svg line {
    stroke-dasharray: 1200;
    stroke-opacity: 0;
    animation: animationA 3s;

}

.background-svg-div{
    position: fixed;
}

.input-fields-threeroom{
    position: relative;
    background-color: white;
    font-size: 1.3rem;
    border-radius: 10px;

}

.input-fields-threeroom > .container > h1 {
    margin-top: 0px;
    padding-top: 15px;
}

@keyframes animationA {
    100% {
        stroke-opacity: 0;
        stroke-dashoffset: 10;

    }

    50% {
        stroke-opacity: 1;
        stroke-width: .05%;
    }

    30% {
        stroke-opacity: 0;
    }

    1% {
        
        stroke-opacity: 1;
        stroke-dashoffset: 10800;
    }
}


