#project-image-title{
    padding-right: 10%;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

#project-image-card{
    margin-top: 20%;
    /* border: 2px solid black; */
    max-width: 100%;

}