.navbar{
    position: fixed;
    width: 100%;
    background-color: #0e2149d0;
    color: #ffc1c1;
    z-index: 5000;

}


@media (max-width:1000px){
    .navbar{
        /* font-size: .5rem; */
    }
    .navbar-expand-lg .navbar-toggler{
        /* display: none; */
    }
}