.navbar{
    
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    background-color: #ffffffee;
    z-index: 5000;
}

.navbar img{
    width: 50px;
    padding-right: 8px;
    padding-top: 8px;
}

.navbar, .navbar-brand{
    font-size: 1.7rem;
}

#title-in-navbar{
    float: right;
    margin-top: 15px;
    font-size: 1.9rem;
    font-family: 'Anton', sans-serif;
}
